[id='toggle-heart'] {
    position: absolute;
    left: -100vw;

}

[id='toggle-heart']:checked+label {
    color: #e2264d;
}

[for='toggle-heart'] {
    align-self: center;
    color: #aab8c2;
    font-size: 2em;
    cursor: pointer;
}

.table-nowrap {
    table-layout: fixed;
}

.table-nowrap td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.table-nowrap th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.tableFixed tbody {
    display: block;
    overflow-y: scroll;
}

.tableFixed thead,
.tableFixed tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}